:root {
  --lightGreen: #44ffa1;
  --purple: #24053e;
  --lightPurple: #584d62;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: "Fraunces";
  src: url("../assets/fonts/fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}

@font-face {
  font-family: "Manrope";
  src: url("../assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 1.6rem;
}

button {
  padding: 1.2rem 2.4rem;
  color: var(--purple);
  background-color: var(--lightGreen);
  border: 2px solid var(--lightGreen);
  transition: all 0.2s;
}

button:hover {
  cursor: pointer;
  background-color: var(--purple);
}

a {
  font-weight: 700;
}

a,
button {
  font-size: 1.6rem;
  line-height: 3.2rem;
  letter-spacing: -0.16px;
  text-decoration: none;
  outline: none;
}

button:hover > a {
  color: var(--lightGreen);
}

h1,
h2,
h3 {
  font-family: "Fraunces";
}

h1 {
  font-size: 5rem;
  line-height: 5rem;
  color: white;
}

h2 {
  font-size: 3.2rem;
  line-height: 4.8rem;
  font-weight: 600;
  color: white;
}

h3 {
  font-size: 2.8rem;
  line-height: 3.6rem;
  font-weight: 600;
  color: var(--purple);
}

p {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 400;
  color: var(--lightPurple);
}

/* Media Tablet */
@media screen and (min-width: 768px) {
  body {
    font-size: 1.6rem;
  }

  a,
  button {
    font-size: 1.8rem;
    line-height: 3.2rem;
    letter-spacing: -0.18px;
  }

  h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  h2 {
    font-size: 4.8rem;
    line-height: 5.6rem;
  }

  p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
}

/* Media Desktop */
@media screen and (min-width: 1440px) {
  button {
    line-height: 3.2rem;
  }

  a {
    font-size: 1.8rem;
    letter-spacing: -0.18px;
  }

  h1 {
    font-size: 8rem;
    line-height: 8rem;
  }

  h2 {
    font-size: 5.6rem;
    line-height: 6.4rem;
  }

  h3 {
    font-size: 3.2rem;
    line-height: 4rem;
  }

  p {
    font-size: 1.8rem;
    line-height: 3.2rem;
  }
}
